<ion-header>
  <ion-navbar>
    <ion-title>Survivors</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Settlement</ion-label>
    <ion-select [(ngModel)]="settlementId" (ionChange)="confirmChange()">
      <ion-option *ngFor="let stlmnt of settlements" (ionSelect)="selectedSettlement(stlmnt)">
        {{stlmnt.name}}
      </ion-option>
    </ion-select>
  </ion-item>
  <button *ngIf="settlement" ion-button icon-only full (click)="addSurvivor()">
    <ion-icon name="add-circle"></ion-icon>
  </button>
  <ion-item *ngIf="survivorsCheck()">
    <ion-textarea autoresize readonly
                  placeholder="There are more Survivors alive then population would allow"></ion-textarea>
  </ion-item>
  <ion-list *ngIf="settlement">
    <ion-item *ngIf="settlement.survivors.length < 1">No Survivors available</ion-item>
    <ion-row *ngFor="let survivor of settlement.survivors">
      <ion-col style="width: 60%">
        <span>{{survivor.name}}</span>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-checkbox [(ngModel)]="survivor.isAlive"></ion-checkbox>
          <ion-label *ngIf="survivor.isAlive">is alive</ion-label>
          <ion-label *ngIf="!survivor.isAlive">is dead</ion-label>
        </ion-item>
      </ion-col>
      <ion-col style="width: 20%">
        <button ion-button icon-only full (click)="removeSurvivor(survivor)">
          <ion-icon name="remove-circle"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
