<ion-header>
  <ion-navbar>
    <ion-title>
      {{location.name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let element of location.manufacturingObjects | kdmfMapValuesPipe">
      <ion-row>
        <ion-col>{{element.equipment.name}}</ion-col>
        <ion-col>
          <ng-container *ngFor="let cost of element.costs | kdmfFilterElementsPipe:'object'">
            <ion-row>
              <ion-col>{{cost.what.name}}</ion-col>
            </ion-row>
          </ng-container>
        </ion-col>
        <ion-col *ngIf="containsOrElement(element)">
          <ng-container *ngFor="let cost of element.costs | kdmfFilterElementsPipe:'or_one'">
            <ion-row>
              <ion-col>{{cost.amount[0]}}</ion-col>
              <ion-col>x</ion-col>
              <ion-col>{{cost.what}}</ion-col>
            </ion-row>
          </ng-container>
          <ion-row>
            <ion-col>or</ion-col>
          </ion-row>
          <ng-container *ngFor="let cost of element.costs | kdmfFilterElementsPipe:'or_two'">
            <ion-row>
              <ion-col>{{cost.amount[0]}}</ion-col>
              <ion-col>x</ion-col>
              <ion-col>{{cost.what}}</ion-col>
            </ion-row>
          </ng-container>
        </ion-col>
        <ion-col *ngIf="!containsOrElement(element)">
          <ng-container *ngFor="let cost of element.costs | kdmfFilterElementsPipe:'string'">
            <ion-row>
              <ion-col>{{cost.amount}}</ion-col>
              <ion-col>x</ion-col>
              <ion-col>{{cost.what}}</ion-col>
            </ion-row>
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
