<ion-header>
  <ion-navbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <button id="add_object_button" ion-button icon-only full (click)="addObject()">
      <ion-icon name="add-circle"></ion-icon>
    </button>
  </ion-item>
  <ion-item *ngFor="let object of objects">
    <ion-row>
      <ion-col (click)="showDetail(object)">
        {{object.name}}
      </ion-col>
      <ion-col>
        <button ion-button icon-only full (click)="removeObject(object)">
          <ion-icon name="remove-circle"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-content>
