<ion-header>
  <ion-toolbar>
    <ion-title>Survivors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Settlement</ion-label>
    <ion-select [(ngModel)]="settlementId" (ionChange)="confirmChange()">
      <ion-select-option *ngFor="let stlmnt of settlements" (ionSelect)="selectedSettlement(stlmnt)" [value]="stlmnt.id">
        {{stlmnt.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <button *ngIf="settlement" ion-button icon-only full (click)="addSurvivor()">
    <ion-icon name="add-circle"></ion-icon>
  </button>
  <ion-item *ngIf="survivorsCheck()">
    <ion-textarea autoresize readonly
                  placeholder="There are more Survivors alive than population would allow"></ion-textarea>
  </ion-item>
  <ion-list *ngIf="settlement">
    <ng-template #needsSurvivors>
      <ion-item>No Survivors available</ion-item>
    </ng-template>
    <ion-grid *ngIf="settlement.survivors.length > 0; else needsSurvivors">
      <ion-row *ngFor="let survivor of settlement.survivors; let even=even; let odd=odd"
               [ngClass]="{ odd: odd, even: even }">
        <ion-col style="width: 60%" (click)="goToDetail(survivor)">
          <span>{{survivor.name}}</span>
        </ion-col>
        <ion-col>
          <ion-item no-lines>
            <ion-toggle [(ngModel)]="survivor.isAlive"></ion-toggle>
            <ng-template #isDead>
              <ion-label>is dead</ion-label>
            </ng-template>
            <ion-label *ngIf="survivor.isAlive; else isDead">is alive</ion-label>
          </ion-item>
        </ion-col>
        <ion-col style="width: 20%">
          <button ion-button icon-only full (click)="removeSurvivor(survivor)">
            <ion-icon name="remove-circle"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
