<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/kdm/(others:others)"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Severe Injuries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item text-wrap>
      {{text1}}<br/><br/>
      {{text2}}<br/><br/>
      {{text3}}
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-list>
      <ion-item href="/kdm/(others:severeInjuries/head)">Head</ion-item>
      <ion-item href="/kdm/(others:severeInjuries/arms)">Arms</ion-item>
      <ion-item href="/kdm/(others:severeInjuries/body)">Body</ion-item>
      <ion-item href="/kdm/(others:severeInjuries/waist)">Waist</ion-item>
      <ion-item href="/kdm/(others:severeInjuries/legs)">Legs</ion-item>
    </ion-list>
  </ion-item-group>
</ion-content>
