<ion-row>
  <ion-col *ngIf="value.minRoll === value.maxRoll">
    <ion-item lines="none">{{value.minRoll}}</ion-item>
  </ion-col>
  <ion-col *ngIf="value.minRoll != value.maxRoll && value.maxRoll < 900">
    <ion-item lines="none">{{value.minRoll}}-{{value.maxRoll}}</ion-item>
  </ion-col>
  <ion-col *ngIf="value.minRoll != value.maxRoll && value.maxRoll > 900">
    <ion-item lines="none">{{value.minRoll}}+</ion-item>
  </ion-col>
  <ion-col size="9">
    <ion-item text-wrap lines="none">
      <b>{{value.name}}</b> {{value.description}}
    </ion-item>
  </ion-col>
</ion-row>
