<ion-header>
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="settlement$ | async">
  <ion-item>
    <ion-button id="add_object_button" expand="full" (click)="addObject()">
      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item *ngFor="let object of objects">
    <ion-row>
      <ion-col (click)="showDetail(object)">
        {{object.name}}
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="removeObject(object)">
          <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-content>
