<ion-content>
  <ion-item-group>
    <ion-title>Add {{typename | titlecase}}</ion-title>
  </ion-item-group>
  <ion-item>
    <ion-label>{{typename | titlecase}}</ion-label>
    <ion-select [(ngModel)]="objectName">
      <ion-select-option *ngFor="let object of existingObjects">{{object.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="selectedDescription()">
    <ion-textarea text-wrap value="{{selectedDescription()}}"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-button (click)="addClose()">Add</ion-button>
    <ion-button (click)="getRandom()">Random</ion-button>
    <ion-button color="secondary" (click)="close()">Cancel</ion-button>
  </ion-item>
</ion-content>
