<ion-content>
  <ion-item-group>
    <ion-button (click)="close()">Close</ion-button>
    <ion-title>{{lanternEvent.name}}</ion-title>
  </ion-item-group>
  <ion-item text-wrap>
    {{lanternEvent.todo}}
  </ion-item>
  <ion-item-group *ngFor="let storyEvent of lanternEvent.storyEvents">
    <ion-item-divider>{{storyEvent.name}}</ion-item-divider>
    <ion-item text-wrap>
      <span [innerHTML]="storyEvent.description | kdmTextFormatting"></span>
    </ion-item>
  </ion-item-group>
  <ion-item>
    <ion-button (click)="close()">Close</ion-button>
  </ion-item>
</ion-content>
