<ion-header>
  <ion-toolbar>
    <ion-title>
      Other Informations
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item href="/kdm/(others:brainTrauma)">
      Brain Trauma
    </ion-item>
    <ion-item href="/kdm/(others:glossary)">
      Glossary
    </ion-item>
    <ion-item href="/kdm/(others:huntEvents)">
      Hunt Event Table
    </ion-item>
    <ion-item href="/kdm/(others:severeInjuries)">
      Severe Injuries
    </ion-item>
    <ion-item href="/kdm/(others:showdowns)">
      Showdowns
    </ion-item>
    <ion-item href="/kdm/(others:storyEvents)">
      Story Events
    </ion-item>
  </ion-list>
</ion-content>
