<ion-header>
  <ion-toolbar>
    <ion-title>
      Other Informations
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/kdm/others/brainTrauma">
      Brain Trauma
    </ion-item>
    <ion-item routerLink="/kdm/others/glossary">
      Glossary
    </ion-item>
    <ion-item routerLink="/kdm/others/huntEvents">
      Hunt Event Table
    </ion-item>
    <ion-item routerLink="/kdm/others/severeInjuries">
      Severe Injuries
    </ion-item>
    <ion-item routerLink="/kdm/others/showdowns">
      Showdowns
    </ion-item>
    <ion-item routerLink="/kdm/others/storyEvents">
      Story Events
    </ion-item>
  </ion-list>
</ion-content>
