<ion-header>
  <ion-navbar>
    <ion-title>
      Other Informations
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="goToDetail('braintrauma')">
      Brain Trauma
    </ion-item>
    <ion-item (click)="goToDetail('glossary')">
      Glossary
    </ion-item>
    <ion-item (click)="goToDetail('hunteventtable')">
      Hunt Event Table
    </ion-item>
    <ion-item (click)="goToDetail('severeinjuries')">
      Severe Injuries
    </ion-item>
    <ion-item (click)="goToDetail('showdowns')">
      Showdowns
    </ion-item>
    <ion-item (click)="goToDetail('storyevents')">
      Story Events
    </ion-item>
  </ion-list>
</ion-content>
