<ion-content>
  <ion-item-group>
    <button ion-button (click)="close()">Close</button>
    <ion-title>{{lanternEvent.name}}</ion-title>
  </ion-item-group>
  <ion-item>
    <ion-textarea readonly [ngModel]="lanternEvent.todo"></ion-textarea>
  </ion-item>
  <ion-item-group *ngFor="let storyEvent of lanternEvent.storyEvents">
    <ion-item-divider>{{storyEvent.title}}</ion-item-divider>
    <ion-item text-wrap>
      <div [innerHTML]="storyEvent.description | kdmTextFormatting"></div>
    </ion-item>
  </ion-item-group>
  <ion-item>
    <button ion-button full (click)="close()">Close</button>
  </ion-item>
</ion-content>
