<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-item>
        <ion-input required [(ngModel)]="settlement.name" no-lines></ion-input>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="settlement">
  <ion-list>
    <ion-item-group>
      <ion-row class="container">
        <ion-col>
          <ion-item-divider>
            Survival Limit
          </ion-item-divider>
          <kdmf-input-number id="survivalLimit" [value]="settlement.survivalLimit"
                             (change)="survivalLimitChange($event)">
          </kdmf-input-number>
        </ion-col>
        <ion-col>
          <ion-item-divider>
            Population
          </ion-item-divider>
          <kdmf-input-number id="population" [value]="settlement.population" (change)="populationChange($event)">
          </kdmf-input-number>
        </ion-col>
        <ion-col>
          <ion-item-divider>
            Death Count
          </ion-item-divider>
          <kdmf-input-number id="deathcount" [value]="settlement.deathcount" (change)="deathcountChange($event)">
          </kdmf-input-number>
        </ion-col>
      </ion-row>
    </ion-item-group>

    <ion-item-group>
      <button id="button_show_timeline" ion-button full (click)="showTimeline()">
        Timeline
      </button>
    </ion-item-group>

    <ion-item-group id="milestones_group">
      <ion-item-divider>
        Milestone Story Events
      </ion-item-divider>
      <ion-item *ngFor="let milestone of settlement.milestones">
        <ion-checkbox [(ngModel)]="milestone.reached"
                      (click)="eventReached($event, milestone)"></ion-checkbox>
        <ion-label>{{milestone.milestone.tag}} <br/><b>{{milestone.milestone.name}}</b></ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group id="nemesis_monsters_group">
      <ion-item-divider>
        Nemesis Monsters
      </ion-item-divider>
      <ng-container *ngFor="let settlementNemesis of settlement.huntableMonsters" class="container">
        <ion-row *ngIf="settlementNemesis.monster.isNemesis">
          <ion-col>
            <ion-item>
              <ion-checkbox [(ngModel)]="settlementNemesis.isHuntable">
              </ion-checkbox>
              <ion-label>{{settlementNemesis.monster.name}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-checkbox [(ngModel)]="settlementNemesis.defeatedLevelOne">
              </ion-checkbox>
              <ion-label>Lvl 1</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-checkbox [(ngModel)]="settlementNemesis.defeatedLevelTwo">
              </ion-checkbox>
              <ion-label>Lvl 2</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-checkbox [(ngModel)]="settlementNemesis.defeatedLevelThree">
              </ion-checkbox>
              <ion-label>Lvl 3</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-item-group>

    <ion-item-group>
      <button id="button_show_innovations" ion-button full (click)="showInnovations()">
        Innovations
      </button>
    </ion-item-group>

    <ion-item-group>
      <button id="button_show_principles" ion-button full (click)="showPrinciples()">
        Principles
      </button>
    </ion-item-group>

    <ion-item-group>
      <button id="button_show_settlement_locations" ion-button full (click)="showSettlementLocations()">
        Settlement Locations
      </button>
    </ion-item-group>

    <ion-item-group id="quarries_group">
      <ion-item-divider>
        Quarries
      </ion-item-divider>
      <ng-container *ngFor="let settlementQuarry of settlement.huntableMonsters">
        <ion-item *ngIf="!settlementQuarry.monster.isNemesis">
          <ion-checkbox [(ngModel)]="settlementQuarry.isHuntable"></ion-checkbox>
          <ion-label>{{settlementQuarry.monster.name}}</ion-label>
        </ion-item>
      </ng-container>
    </ion-item-group>

    <ion-item-group>
      <button id="button_show_storage" ion-button full (click)="showStorage()">
        Storage
      </button>
    </ion-item-group>

    <ion-item-group>
      <button id="button_show_defeated_monsters" ion-button full (click)="showDefeatedMonsters()">
        Defeated Monsters
      </button>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        Lost Settlements
      </ion-item-divider>
      <kdmf-input-number id="settlementLost" [value]="settlement.settlementLost"
                         (change)="settlementLostChange($event)">
      </kdmf-input-number>
    </ion-item-group>

  </ion-list>
</ion-content>
