<ion-header>
  <ion-toolbar>
    <ion-title>
      Storage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-button id="add_storage_button" expand="full"(click)="addStorageItem()">
      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-list id="storage_items_list">
    <ion-segment *ngFor="let storage of settlement.storages" attr.id="{{storage.name}}">
      <ion-button (click)="increaseAmount(storage)">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="decreaseAmount(storage)">
        <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
      </ion-button>
      <ion-input attr.name="{{storage.name}} {{storage.amount}}" type="number" (change)="changedAmount(storage)"
                 [(ngModel)]="storage.amount"></ion-input>
      <ion-label attr.name="{{storage.name}}" (click)="showDetail(storage)">{{storage.name}}</ion-label>
    </ion-segment>
  </ion-list>
</ion-content>
