<ion-header>
  <ion-navbar>
    <ion-title>Settlements</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <h2>Available Settlements</h2>
    <button ion-button full (click)="addSettlement()">Add</button>
  </div>
  <ion-list show-delete="shouldShowDelete" can-swipe="listCanSwipe">
    <ion-item *ngFor="let settlement of settlements; let even=even; let odd=odd"
              [ngClass]="{ odd: odd, even: even }">
      <ion-row class="container">
        <ion-col (click)="goToDetail(settlement)">
          {{settlement.name}}
        </ion-col>
        <ion-col>
          <button ion-button icon-only full
                  (click)="removeSettlement(settlement)">
            <ion-icon name="remove-circle"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
