<ion-header>
  <ion-navbar>
    <ion-title>
      Innovations
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <button ion-button icon-only full (click)="addInnovation()">
      <ion-icon name="add-circle"></ion-icon>
    </button>
  </ion-item>
  <ion-item *ngFor="let innovation of settlement.innovations">
    <ion-row>
      <ion-col>
        {{innovation.name}}
      </ion-col>
      <ion-col>
        <button ion-button icon-only full (click)="removeInnovation(innovation)">
          <ion-icon name="remove-circle"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-content>
