<ion-header>
  <ion-navbar>
    <ion-title>
      Disorders
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <button ion-button icon-only full (click)="addDisorder()">
      <ion-icon name="add-circle"></ion-icon>
    </button>
  </ion-item>
  <ion-item *ngFor="let disorder of disorders">
    <ion-row>
      <ion-col>
        {{disorder.name}}
      </ion-col>
      <ion-col>
        <button ion-button icon-only full (click)="removeDisorder(disorder)">
          <ion-icon name="remove-circle"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-content>
