<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/kdm/(others:others)"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Hunt Event Table
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="filterEventTable($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let huntEvent of filteredHuntEvents">
    <ion-item lines="none">{{huntEvent.rollResult}} | {{huntEvent.name}}</ion-item>
    <ion-item text-wrap lines="none">
      <div [innerHTML]="huntEvent.description | kdmTextFormatting"></div>
    </ion-item>
    <ion-item-divider small></ion-item-divider>
  </ion-list>
</ion-content>
