// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.container {
  display: flex;
  flex-flow: row wrap;
}

.even {
}

.odd {
  background-color: #e0e0e5;
}

ion-icon {
  &[class*="kdmf-"] {
    // Instead of using the font-based icons
    // We're applying SVG masks
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }
  // custom icons
  &[class*="kdmf-shieldone"] {
    mask-image: url(../assets/img/shieldone.svg);
  }
  &[class*="kdmf-shieldtwo"] {
    mask-image: url(../assets/img/shieldtwo.svg);
  }
  &[class*="kdmf-shieldthree"] {
    mask-image: url(../assets/img/shieldthree.svg);
  }
  &[class*="kdmf-head"] {
    mask-image: url(../assets/img/head.svg);
  }
  &[class*="kdmf-waist"] {
    mask-image: url(../assets/img/waist.svg);
  }
  &[class*="kdmf-legs"] {
    mask-image: url(../assets/img/legs.svg);
  }
  &[class*="kdmf-arms"] {
    mask-image: url(../assets/img/arms.svg);
  }
  &[class*="kdmf-body"] {
    mask-image: url(../assets/img/body.svg);
  }
  &[class*="kdmf-horse"] {
    mask-image: url(../assets/img/horse.svg);
  }
  &[class*="kdmf-puzzle-blue"] {
    mask-image: url(../assets/img/puzzle.svg);
    color: deepskyblue;
  }
  &[class*="kdmf-puzzle-green"] {
    mask-image: url(../assets/img/puzzle.svg);
    color: green;
  }
  &[class*="kdmf-puzzle-red"] {
    mask-image: url(../assets/img/puzzle.svg);
    color: red;
  }
  &[class*="kdmf-square-blue"] {
    mask-image: url(../assets/img/square.svg);
    color: deepskyblue;
  }
  &[class*="kdmf-square-green"] {
    mask-image: url(../assets/img/square.svg);
    color: green;
  }
  &[class*="kdmf-square-red"] {
    mask-image: url(../assets/img/square.svg);
    color: red;
  }
  &[class*="kdmf-eyeblue"] {
    mask-image: url(../assets/img/eye.svg);
    color: deepskyblue;
  }
  &[class*="kdmf-eyegreen"] {
    mask-image: url(../assets/img/eye.svg);
    color: green;
  }
  &[class*="kdmf-eyered"] {
    mask-image: url(../assets/img/eye.svg);
    color: red;
  }
}
