<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-item>
        Survivor
        <ion-input required [(ngModel)]="survivor.name"></ion-input>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-group radio-group [(ngModel)]="survivor.isMale">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-radio value="true"></ion-radio>
            <ion-label>M</ion-label>
          </ion-item>
          <ion-item>
            <ion-radio value="false"></ion-radio>
            <ion-label>F</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-toggle [(ngModel)]="survivor.isAlive"></ion-toggle>
            <ng-template #isDead>
              <ion-label>is dead</ion-label>
            </ng-template>
            <ion-label *ngIf="survivor.isAlive; else isDead">is alive</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-item-group>
    <ion-item-group>
      <ion-row class="container">
        <ion-col>
          <ion-item-divider>
            Survival
          </ion-item-divider>
          <kdmf-input-number [value]="survivor.survival" (change)="survivalChange($event)">
          </kdmf-input-number>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-checkbox [(ngModel)]="survivor.canDodge"></ion-checkbox>
            <ion-label>Dodge</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox [(ngModel)]="survivor.canEncourage"></ion-checkbox>
            <ion-label>Encourage</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox [(ngModel)]="survivor.canSurge"></ion-checkbox>
            <ion-label>Surge</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox [(ngModel)]="survivor.canDash"></ion-checkbox>
            <ion-label>Dash</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-item-group>

    <ion-item-group>
      <ion-row class="container">
        <ion-col>
          <ion-item-divider>
            Movement
          </ion-item-divider>
          <kdmf-input-number [value]="survivor.movement" (change)="movementChange($event)">
          </kdmf-input-number>
        </ion-col>
        <ion-col>
          <ion-item-divider>
            Accuracy
          </ion-item-divider>
          <kdmf-input-number [value]="survivor.accuracy" (change)="accuracyChange($event)">
          </kdmf-input-number>
        </ion-col>

        <ion-col>
          <ion-item-divider>
            Strength
          </ion-item-divider>
          <kdmf-input-number [value]="survivor.strength" (change)="strengthChange($event)">
          </kdmf-input-number>
        </ion-col>

        <ion-col>
          <ion-item-divider>
            Evasion
          </ion-item-divider>
          <kdmf-input-number [value]="survivor.evasion" (change)="evasionChange($event)">
          </kdmf-input-number>
        </ion-col>

        <ion-col>
          <ion-item-divider>
            Luck
          </ion-item-divider>
          <kdmf-input-number [value]="survivor.luck" (change)="luckChange($event)">
          </kdmf-input-number>
        </ion-col>

        <ion-col>
          <ion-item-divider>
            Speed
          </ion-item-divider>
          <kdmf-input-number [value]="survivor.speed" (change)="speedChange($event)">
          </kdmf-input-number>
        </ion-col>
      </ion-row>
    </ion-item-group>

    <ion-item-group>
      <ion-row class="container">
        <ion-col>
          <ion-item-divider>
            Brain
          </ion-item-divider>
          <kdmf-input-number [value]="survivor.insanity" (change)="insanityChange($event)">
          </kdmf-input-number>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-checkbox color="dark" [(ngModel)]="survivor.isBrainDamaged"></ion-checkbox>
            <ion-label>Brain</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>If your insanity is 3+, you are insane.</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-item-group>

    <ion-item-group>
      <ion-row class="container">
        <ion-col>
          <ion-item-divider>
            Head
          </ion-item-divider>
          <ion-row>
            <ion-col>
              <kdmf-input-number [value]="survivor.headArmor" (change)="headArmorChange($event)">
              </kdmf-input-number>
            </ion-col>
            <ion-col>
              <ion-checkbox color="dark" [(ngModel)]="survivor.headHeavyInjury"></ion-checkbox>
              <ion-label>H</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col>
          <ion-item-divider>
            Arms
          </ion-item-divider>
          <ion-row>
            <ion-col>
              <kdmf-input-number [value]="survivor.armsArmor" (change)="armsArmorChange($event)">
              </kdmf-input-number>
            </ion-col>
            <ion-col>
              <ion-checkbox [(ngModel)]="survivor.armsLightInjury"></ion-checkbox>
              <ion-label>L</ion-label>
            </ion-col>
            <ion-col>
              <ion-checkbox color="dark" [(ngModel)]="survivor.armsHeavyInjury"></ion-checkbox>
              <ion-label>H</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col>
          <ion-item-divider>
            Body
          </ion-item-divider>
          <ion-row>
            <ion-col>
              <kdmf-input-number [value]="survivor.bodyArmor" (change)="bodyArmorChange($event)">
              </kdmf-input-number>
            </ion-col>
            <ion-col>
              <ion-checkbox [(ngModel)]="survivor.bodyLightInjury"></ion-checkbox>
              <ion-label>L</ion-label>
            </ion-col>
            <ion-col>
              <ion-checkbox color="dark" [(ngModel)]="survivor.bodyHeavyInjury"></ion-checkbox>
              <ion-label>H</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col>
          <ion-item-divider>
            Waist
          </ion-item-divider>
          <ion-row>
            <ion-col>
              <kdmf-input-number [value]="survivor.waistArmor" (change)="waistArmorChange($event)">
              </kdmf-input-number>
            </ion-col>
            <ion-col>
              <ion-checkbox [(ngModel)]="survivor.waistLightInjury"></ion-checkbox>
              <ion-label>L</ion-label>
            </ion-col>
            <ion-col>
              <ion-checkbox color="dark" [(ngModel)]="survivor.waistHeavyInjury"></ion-checkbox>
              <ion-label>H</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col>
          <ion-item-divider>
            Legs
          </ion-item-divider>
          <ion-row>
            <ion-col>
              <kdmf-input-number [value]="survivor.legsArmor" (change)="legsArmorChange($event)">
              </kdmf-input-number>
            </ion-col>
            <ion-col>
              <ion-checkbox [(ngModel)]="survivor.legsLightInjury"></ion-checkbox>
              <ion-label>L</ion-label>
            </ion-col>
            <ion-col>
              <ion-checkbox color="dark" [(ngModel)]="survivor.legsHeavyInjury"></ion-checkbox>
              <ion-label>H</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        Hunt XP
      </ion-item-divider>
      <form [formGroup]="xpGroup">
        <ion-row formArrayName="xps" class="container">
          <ion-col *ngFor="let control of xpGroup.controls.xps.controls">
            <ion-checkbox type="checkbox" (click)="updateXP($event, control)"
                          [formControl]="control"></ion-checkbox>
          </ion-col>
        </ion-row>
      </form>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        Weapon Proficiency
      </ion-item-divider>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Type:</ion-label>
            <ion-input [(ngModel)]="survivor.weaponProficiencyType"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <kdmf-input-number [value]="survivor.weaponProficiencyXP" (change)="weaponProficiencyXPChange($event)">
          </kdmf-input-number>
        </ion-col>
        <ion-col>
          <ion-list>
            <ion-item>Max Weapon Proficiency is 8</ion-item>
            <ion-item>3: Specialist</ion-item>
            <ion-item>8: Master</ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        Courage
      </ion-item-divider>
      <ion-row>
        <ion-col>
          <kdmf-input-number [value]="survivor.courage" (change)="courageChange($event)">
          </kdmf-input-number>
        </ion-col>
        <ion-col>
          <ion-list>
            <ion-item>Max Courage is 9</ion-item>
            <ion-item>3: Bold</ion-item>
            <ion-item>9: See the Truth</ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        Understanding
      </ion-item-divider>
      <ion-row>
        <ion-col>
          <kdmf-input-number [value]="survivor.understanding" (change)="understandingChange($event)">
          </kdmf-input-number>
        </ion-col>
        <ion-col>
          <ion-list>
            <ion-item>Max Understanding is 9</ion-item>
            <ion-item>3: Insight</ion-item>
            <ion-item>9: White Secret</ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-item-group>

    <ion-item-group>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-checkbox [(ngModel)]="survivor.cannotSpendSurvival"></ion-checkbox>
              <ion-label>Cannot spend survival.</ion-label>
            </ion-item>
            <ion-item>
              <ion-checkbox [(ngModel)]="survivor.cannotUseFightingArts"></ion-checkbox>
              <ion-label>Cannot use Fighting Arts.</ion-label>
            </ion-item>
            <ion-item>
              <ion-checkbox [(ngModel)]="survivor.skipNextHunt"></ion-checkbox>
              <ion-label>Skip Next Hunt.</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item-group>

    <ion-item-group>
      <ion-button (click)="showDisorders()">
        Disorders
      </ion-button>
    </ion-item-group>

    <ion-item-group>
      <ion-button (click)="showFightingArts()">
        Fighting Arts
      </ion-button>
    </ion-item-group>

    <ion-item-group>
      <ion-button (click)="showEquipmentGrid()">
        Equipment Grid
      </ion-button>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        Amount of Bleeding Tokens
      </ion-item-divider>
      <kdmf-input-number [value]="survivor.bleedingTokens" (change)="bleedingTokensChange($event)">
      </kdmf-input-number>
    </ion-item-group>
  </ion-list>
</ion-content>
