<ion-header>
  <ion-navbar>
    <ion-title>
      {{bodypart}} Severe Injuries
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group *ngFor="let severeInjury of severeInjuries">
      <ion-row>
        <ion-col col-3 *ngIf="severeInjury.minRoll === severeInjury.maxRoll">
          <ion-item no-lines>{{severeInjury.minRoll}}</ion-item>
        </ion-col>
        <ion-col col-3 *ngIf="severeInjury.minRoll != severeInjury.maxRoll && severeInjury.maxRoll < 900">
          <ion-item no-lines>{{severeInjury.minRoll}}-{{severeInjury.maxRoll}}</ion-item>
        </ion-col>
        <ion-col col-3 *ngIf="severeInjury.minRoll != severeInjury.maxRoll && severeInjury.maxRoll > 900">
          <ion-item no-lines>{{severeInjury.minRoll}}+</ion-item>
        </ion-col>
        <ion-col>
          <ion-item text-wrap>
            <b>{{severeInjury.name}}</b> {{severeInjury.description}}
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item-divider></ion-item-divider>
    </ion-item-group>
  </ion-list>

</ion-content>
