<ion-header>
  <ion-navbar>
    <ion-title>
      Severe Injuries
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item text-wrap>
      {{text1}}<br/><br/>
      {{text2}}<br/><br/>
      {{text3}}
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-list>
      <ion-item (click)="goToDetail('HEAD')">Head</ion-item>
      <ion-item (click)="goToDetail('ARMS')">Arms</ion-item>
      <ion-item (click)="goToDetail('BODY')">Body</ion-item>
      <ion-item (click)="goToDetail('WAIST')">Waist</ion-item>
      <ion-item (click)="goToDetail('LEGS')">Legs</ion-item>
    </ion-list>
  </ion-item-group>
</ion-content>
