<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-item>
        Settlement
        <ion-input required [(ngModel)]="settlement.name"></ion-input>
      </ion-item>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-group>
      <ion-row>
        <ion-col>
          <ion-item-divider>
            Survival Limit
          </ion-item-divider>
          <kdmf-input-number [value]="settlement.survivalLimit" (change)="survivalLimitChange($event)">
          </kdmf-input-number>
        </ion-col>
        <ion-col>
          <ion-item-divider>
            Population
          </ion-item-divider>
          <kdmf-input-number [value]="settlement.population" (change)="populationChange($event)">
          </kdmf-input-number>
        </ion-col>
      </ion-row>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        Death Count
      </ion-item-divider>
      <form [formGroup]="deathCountGroup">
        <ion-row formArrayName="deathCounts" class="container">
          <ion-col *ngFor="let control of deathCountGroup.controls.deathCounts.controls">
            <ion-checkbox type="checkbox" (click)="updateDeathcount($event, control)"
                          [formControl]="control"></ion-checkbox>
          </ion-col>
        </ion-row>
      </form>
    </ion-item-group>

    <ion-item-group>
      <button ion-button full (click)="showTimeline()">
        Timeline
      </button>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        Milestone Story Events
      </ion-item-divider>
      <ion-item *ngFor="let milestone of settlement.milestones">
        <ion-checkbox [(ngModel)]="milestone.reached"
                      (click)="eventReached($event, milestone)"></ion-checkbox>
        <ion-label>{{milestone.milestone.tag}} <br/><b>{{milestone.milestone.name}}</b></ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        Nemesis Monsters
      </ion-item-divider>
      <ion-row *ngFor="let nemesis of settlement.nemesisMonsters" class="container">
        <ion-col>
          <ion-item>
            <ion-checkbox [(ngModel)]="nemesis.isHuntable">
            </ion-checkbox>
            <ion-label>{{nemesis.name}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-checkbox [(ngModel)]="nemesis.defeatedLevelOne">
            </ion-checkbox>
            <ion-label>Lvl 1</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-checkbox [(ngModel)]="nemesis.defeatedLevelTwo">
            </ion-checkbox>
            <ion-label>Lvl 2</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-checkbox [(ngModel)]="nemesis.defeatedLevelThree">
            </ion-checkbox>
            <ion-label>Lvl 3</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-item-group>

    <ion-item-group>
      <button ion-button full (click)="showInnovations()">
        Innovations
      </button>
    </ion-item-group>

    <ion-item-group>
      <button ion-button full (click)="showPrinciples()">
        Principles
      </button>
    </ion-item-group>

    <ion-item-group>
      <button ion-button full (click)="showSettlementLocations()">
        Settlement Locations
      </button>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        Quarries
      </ion-item-divider>
      <ion-item *ngFor="let quarry of settlement.quarries">
        <ion-checkbox [(ngModel)]="quarry.isHuntable"></ion-checkbox>
        <ion-label>{{quarry.name}}</ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <button ion-button full (click)="showStorage()">
        Storage
      </button>
    </ion-item-group>

    <ion-item-group>
      <button ion-button full (click)="showDefeatedMonsters()">
        Defeated Monsters
      </button>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        Lost Settlements
      </ion-item-divider>
      <form [formGroup]="lostSettlementGroup">
        <ion-row formArrayName="settlementCounts" class="container">
          <ion-col *ngFor="let control of lostSettlementGroup.controls.settlementCounts.controls">
            <ion-checkbox type="checkbox" (click)="updateLostSettlement($event, control)"
                          [formControl]="control"></ion-checkbox>
          </ion-col>
        </ion-row>
      </form>
    </ion-item-group>

  </ion-list>
</ion-content>
