<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-item>
        Settlement
        <ion-input required [(ngModel)]="settlement.name"></ion-input>
      </ion-item>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        Survival Limit
      </ion-item-divider>
      <ion-item>
        <ion-input type="number" required [(ngModel)]="settlement.survivalLimit"></ion-input>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        Death Count
      </ion-item-divider>
      <form [formGroup]="deathCountGroup">
        <ion-row formArrayName="deathCounts" class="container">
          <ion-col *ngFor="let control of deathCountGroup.controls.deathCounts.controls; let i = index">
            <ion-checkbox type="checkbox" (click)="updateDeathcount($event, control)" [formControl]="control"></ion-checkbox>
          </ion-col>
        </ion-row>
      </form>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        Timeline
      </ion-item-divider>
      <ion-item *ngFor="let timelineevent of settlement.timeline">
        <ion-checkbox [(ngModel)]="timelineevent.reached"
                      (click)="timelineReached($event, timelineevent)"></ion-checkbox>
        <ion-label>{{timelineevent.position}} <span *ngIf="timelineevent.lanternEvent"><ion-icon name="book"></ion-icon> {{timelineevent.lanternEvent.name}}</span>
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        Milestone Story Events
      </ion-item-divider>
      <ion-item *ngFor="let milestone of settlement.milestones">
        <ion-checkbox [(ngModel)]="milestone.reached" (click)="eventReached($event, milestone)"></ion-checkbox>
        <ion-label>{{milestone.tag}} <b>{{milestone.name}}</b></ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        Nemesis Monsters
      </ion-item-divider>
      <ion-row *ngFor="let nemesis of settlement.nemesisMonsters">
        <ion-col>
          <ion-item>
            <ion-checkbox [(ngModel)]="nemesis.isHuntable">
            </ion-checkbox>
            <ion-label>{{nemesis.name}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-checkbox [(ngModel)]="nemesis.defeatedLevelOne">
            </ion-checkbox>
            <ion-label>Lvl 1</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-checkbox [(ngModel)]="nemesis.defeatedLevelTwo">
            </ion-checkbox>
            <ion-label>Lvl 2</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-checkbox [(ngModel)]="nemesis.defeatedLevelThree">
            </ion-checkbox>
            <ion-label>Lvl 3</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        Innovations
      </ion-item-divider>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        Principles
      </ion-item-divider>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        Settlement Locations
      </ion-item-divider>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        Quarries
      </ion-item-divider>
      <ion-item *ngFor="let quarry of settlement.quarries">
        <ion-checkbox [(ngModel)]="quarry.isHuntable"></ion-checkbox>
        <ion-label>{{quarry.name}}</ion-label>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        Storage
      </ion-item-divider>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        Defeated Monsters
        <button ion-button icon-only (click)="addDefeatedMonster()">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-item-divider>
      <ion-item *ngFor="let monster of settlement.defeatedMonsters">
        {{monster.name}} - Level {{monster.level}}
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        Population
      </ion-item-divider>
      <ion-item>
        <ion-input type="number" required [(ngModel)]="settlement.population"
                   (change)="checkMilestone($event, 'population', settlement.population)"></ion-input>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        Lost Settlements
      </ion-item-divider>
      <ion-item>
        <ion-checkbox *ngFor="let lostsettlement of lostSettlements"></ion-checkbox>
      </ion-item>
    </ion-item-group>

  </ion-list>
</ion-content>
