<ion-header>
  <ion-toolbar>
    <ion-title>
      Added Resources for {{huntedMonster.monster.name}} level {{huntedMonster.monsterLevel}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let storage of huntedMonster.huntedResources">
    <ion-row (click)="showDetail(storage)">
      <ion-col>
        {{storage.name}}
      </ion-col>
      <ion-col>
        x {{storage.amount}}
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item>
    <button ion-button full (click)="close()">Close</button>
  </ion-item>
</ion-content>
