<ion-header>
  <ion-toolbar>
    <ion-title>
      Defeated Monsters
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-button expand="full"(click)="addDefeatedMonster()">
      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item *ngFor="let huntedMonster of settlement.huntedMonsters">
    <ion-row>
      <ion-col>
        {{huntedMonster.monster.name}} - Level {{huntedMonster.monsterLevel}}
      </ion-col>
      <ion-col col-3>
        <ion-button expand="full"(click)="removeDefeatedMonster(huntedMonster)">
          <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-content>
