<ion-content>
  <ion-item-group>
    <ion-title>Add defeated Monster</ion-title>
  </ion-item-group>
  <ion-item>
    <ion-label>Monster</ion-label>
    <ion-select [(ngModel)]="monster">
      <ion-select-option *ngFor="let huntableMonster of huntableMonsters" [value]="huntableMonster.monster">
        {{huntableMonster.monster.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Level</ion-label>
    <ion-select [(ngModel)]="monsterLevel">
      <ion-select-option value="1" selected="true">Level 1</ion-select-option>
      <ion-select-option value="2">Level 2</ion-select-option>
      <ion-select-option value="3">Level 3</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="monster !== undefined && !monster.isNemesis">
    <ion-checkbox [(ngModel)]="huntResources"></ion-checkbox>
    <ion-label>Add hunt resources</ion-label>
  </ion-item>
  <ion-item *ngIf="monster === undefined || monster.isNemesis">
    <ion-checkbox disabled></ion-checkbox>
    <ion-label>See Reward text after adding the Monster</ion-label>
  </ion-item>
  <ion-item>
    <button ion-button full (click)="addClose()">Add</button>
    <button ion-button full color="secondary" (click)="close()">Cancel</button>
  </ion-item>
</ion-content>
