<ion-header>
  <ion-navbar>
    <ion-title>
      Settlement Principles
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let principleType of allPrincipleTypes">
    <ion-row>
      <ion-col>
        {{principleType.name}} principle:
        <ion-label *ngIf="principleIsChosen(principleType)" (click)="showDetail(principleType)">
          {{getPrincipleName(principleType)}}
        </ion-label>
      </ion-col>
      <ion-col *ngIf="principleIsChosen(principleType); else principleNotChosen">
        <button ion-button icon-only full
                (click)="removePrinciple(principleType)">
          <ion-icon name="remove-circle"></ion-icon>
        </button>
      </ion-col>
      <ng-template #principleNotChosen>
        <ion-col>
          <button ion-button full (click)="selectPrinciple(principleType)">Choose</button>
        </ion-col>
      </ng-template>
    </ion-row>
  </ion-item>
</ion-content>
