<ion-header>
  <ion-toolbar>
    <ion-title>
      Settlement Principles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let principleType of allPrincipleTypes">
    <ion-row>
      <ion-col>
        <ion-item no-lines>
          {{principleType.name}} principle:
        </ion-item>
        <ion-item *ngIf="principleIsChosen(principleType)" (click)="showDetail(principleType)" no-lines>
          {{getPrincipleName(principleType)}}
        </ion-item>
      </ion-col>
      <ion-col *ngIf="principleIsChosen(principleType); else principleNotChosen">
        <button ion-button icon-only full
                (click)="removePrinciple(principleType)">
          <ion-icon name="remove-circle"></ion-icon>
        </button>
      </ion-col>
      <ng-template #principleNotChosen>
        <ion-col>
          <button ion-button full (click)="selectPrinciple(principleType)">Choose</button>
        </ion-col>
      </ng-template>
    </ion-row>
  </ion-item>
</ion-content>
