<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="settlement$ | async as settlement">
      <ion-back-button defaultHref="/kdm/settlements/{{settlement.id}}/principles"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="localPrinciple">
      {{localPrinciple.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item text-wrap *ngIf="principle$ | async as principle">
    <div [innerHTML]="principle.description | kdmTextFormatting"></div>
  </ion-item>
</ion-content>
