<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="settlement">
      <ion-back-button defaultHref="/kdm/(settlements:{{settlement.id}}/principles)"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Choose Principles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid *ngIf="settlement$ | async">
    <ion-row>
      <ion-col col-12 col-sm>
        <ion-item>
          <ion-checkbox type="checkbox" (click)="selectPrinciple(principleOne)"
                        [disabled]="isLoading"></ion-checkbox>
          <ion-label>{{principleOne.name}}</ion-label>
        </ion-item>
        <ion-item text-wrap>
          <div [innerHTML]="principleOne.description | kdmTextFormatting"></div>
        </ion-item>
      </ion-col>
      <ion-col col-sm-auto center text-center><-></ion-col>
      <ion-col col-12 col-sm>
        <ion-item>
          <ion-checkbox type="checkbox" (click)="selectPrinciple(principleTwo)"
                        [disabled]="isLoading"></ion-checkbox>
          <ion-label>{{principleTwo.name}}</ion-label>
        </ion-item>
        <ion-item text-wrap>
          <div [innerHTML]="principleTwo.description | kdmTextFormatting"></div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
