<ion-header>
  <ion-navbar>
    <ion-title>
      Defeated Monsters
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <button ion-button icon-only full (click)="addDefeatedMonster()">
      <ion-icon name="add-circle"></ion-icon>
    </button>
  </ion-item>
  <ion-item *ngFor="let huntedMonster of settlement.huntedMonsters">
    <ion-row>
      <ion-col>
        {{huntedMonster.monster.name}} - Level {{huntedMonster.monster.level}}
      </ion-col>
      <ion-col col-3>
        <button ion-button icon-only full (click)="removeDefeatedMonster(huntedMonster)">
          <ion-icon name="remove-circle"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-content>
