<ion-header>
  <ion-navbar>
    <ion-title>
      Defeated Monsters
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <button ion-button icon-only full (click)="addDefeatedMonster()">
      <ion-icon name="add-circle"></ion-icon>
    </button>
  </ion-item>
  <ion-item *ngFor="let settlementMonster of settlement.defeatedMonsters">
    <ion-row>
      <ion-col>
        {{settlementMonster.monster.name}} - Level {{settlementMonster.monster.level}}
      </ion-col>
      <ion-col>
        <button ion-button icon-only full (click)="removeDefeatedMonster(settlementMonster)">
          <ion-icon name="remove-circle"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-content>
