<ion-header>
  <ion-navbar>
    <ion-title>
      Storage
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <button id="add_storage_button" ion-button icon-only full (click)="addStorageItem()">
      <ion-icon name="add-circle"></ion-icon>
    </button>
  </ion-item>
  <ion-list id="storage_items_list">
    <ion-segment *ngFor="let storage of settlement.storages" attr.id="{{storage.name}}">
      <button ion-button icon-only (click)="increaseAmount(storage)">
        <ion-icon name="add-circle"></ion-icon>
      </button>
      <button ion-button icon-only (click)="decreaseAmount(storage)">
        <ion-icon name="remove-circle"></ion-icon>
      </button>
      <ion-input attr.name="{{storage.name}} {{storage.amount}}" type="number" (change)="changedAmount(storage)"
                 [(ngModel)]="storage.amount"></ion-input>
      <ion-label attr.name="{{storage.name}}" (click)="showDetail(storage)">{{storage.name}}</ion-label>
    </ion-segment>
  </ion-list>
</ion-content>
