<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/kdm/others"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Showdowns
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="none">
    <ion-item *ngFor="let showdown of showdownMonsters; let even=even; let odd=odd"
              [ngClass]="{ odd: odd, even: even }" routerLink="/kdm/others/showdowns/{{showdown.id}}">
      {{showdown.name}}
    </ion-item>
  </ion-list>
</ion-content>
