<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/kdm/(others:showdowns)"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Showdowns
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let showdown of showdownMonsters; let even=even; let odd=odd"
            [ngClass]="{ odd: odd, even: even }" lines="none">
    <ion-row class="container">
      <ion-col (click)="goToDetail(showdown)">
        {{showdown.name}}
      </ion-col>
    </ion-row>
  </ion-item>
</ion-content>
