<ion-header>
  <ion-toolbar>
    <ion-title>Settlements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <h2>Available Settlements</h2>
    <ion-button class="button-add" (click)="addSettlement()">Add</ion-button>
  </div>
  <ion-list show-delete="shouldShowDelete" can-swipe="listCanSwipe">
    <ion-item *ngFor="let settlement of settlements; let even=even; let odd=odd"
              [ngClass]="{ odd: odd, even: even }" lines="none">
      <ion-row class="container">
        <ion-col (click)="goToDetail(settlement)" size="8">
          {{settlement.name}}
        </ion-col>
        <ion-col>
          <ion-button
                  (click)="removeSettlement(settlement)">
            <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>