<ion-header>
  <ion-toolbar>
    <ion-title>Settlements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <h2>Available Settlements</h2>
    <ion-button class="button-add" expand="full" (click)="addSettlement()">Add</ion-button>
  </div>
  <ion-list show-delete="shouldShowDelete" can-swipe="listCanSwipe">
    <ion-row class="container" *ngFor="let settlement of settlements; let even=even; let odd=odd"
             [ngClass]="{ odd: odd, even: even }" lines="none">
      <ion-col (click)="goToDetail(settlement)" size="10" align-self-center>
        {{settlement.name}}
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="removeSettlement(settlement)" expand="full">
          <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>