<ion-header>
  <ion-toolbar>
    <ion-title>
      Equipments
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-button expand="full" (click)="pushEquipment()">
      <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Equipments</ion-label>
    <ion-select [(ngModel)]="equipmentName">
      <ion-select-option *ngFor="let equipment of allEquipments">{{equipment.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item *ngFor="let eq of equipments">
    <ion-row>
      <ion-col (click)="setEquipment(eq)">
        {{eq.name}}
      </ion-col>
    </ion-row>
  </ion-item>
</ion-content>
