<ion-header>
  <ion-toolbar>
    <ion-title>
      {{survivor.name}} Equipment
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <kdmf-equipment-card [survivor]="survivor" [position]="1" [settlement]="settlement"></kdmf-equipment-card>
      </ion-col>
      <ion-col>
        <kdmf-equipment-card [survivor]="survivor" [position]="2" [settlement]="settlement"></kdmf-equipment-card>
      </ion-col>
      <ion-col>
        <kdmf-equipment-card [survivor]="survivor" [position]="3" [settlement]="settlement"></kdmf-equipment-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <kdmf-equipment-card [survivor]="survivor" [position]="4" [settlement]="settlement"></kdmf-equipment-card>
      </ion-col>
      <ion-col>
        <kdmf-equipment-card [survivor]="survivor" [position]="5" [settlement]="settlement"></kdmf-equipment-card>
      </ion-col>
      <ion-col>
        <kdmf-equipment-card [survivor]="survivor" [position]="6" [settlement]="settlement"></kdmf-equipment-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <kdmf-equipment-card [survivor]="survivor" [position]="7" [settlement]="settlement"></kdmf-equipment-card>
      </ion-col>
      <ion-col>
        <kdmf-equipment-card [survivor]="survivor" [position]="8" [settlement]="settlement"></kdmf-equipment-card>
      </ion-col>
      <ion-col>
        <kdmf-equipment-card [survivor]="survivor" [position]="9" [settlement]="settlement"></kdmf-equipment-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
