<ng-container *ngIf="survivor.equipments.get(position)">
  <div class="container" (click)="showDetailsOrChange()">
    <div class="up" [ngStyle]="backgroundUp"></div>
    <div class="right" [ngStyle]="backgroundRight"></div>
    <div class="text">
      <ion-item text-wrap lines="none">
        {{survivor.equipments.get(position).name}}
      </ion-item>
    </div>
    <div class="down" [ngStyle]="backgroundDown"></div>
    <div class="left" [ngStyle]="backgroundLeft"></div>
  </div>
</ng-container>
<ng-container *ngIf="!survivor.equipments.get(position)">
  <div class="container" (click)="selectEquipment()">
    <div class="text">
      Select Equipment
    </div>
  </div>
</ng-container>
